body { 
  margin: 0; 
}

canvas { 
  width: 100%; 
  height: 100% 
}

.sliderBlock {
  position: fixed;
  top: 10px;
  width: 30%;
  min-width: 350px;
  z-index: 999;
  background-color: rgba(255,255,255,0.4);
}

#sliderBlock1 {
  right: 51%;
}
#sliderBlock2 {
  left: 51%;
}

.sliderBlock .row {
  margin: 10px;
  padding: 0;
  white-space: nowrap;
  min-width: 500px;
  font-size: 10pt;
}

.slider_bar {
  width: 150px;
  max-width: 150px;
  display:inline-block; 
  vertical-align:middle;
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  border-bottom-color: rgba(255,255,255,0.3);
  border-top-color: rgba(0,0,0,0.3);
  border-width: 1px;
  border-style: solid;
}

.sliderBlock label {
  display:inline-block;
  margin-left: 15px;
  font-family: sans-serif;
  color: #fff;
}

.sliderBlock .value {
  margin-left: 5px;
  display:inline-block;
  font-family: sans-serif;
  color: rgba(255,255,255,0.5);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#tweetIt {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
  display: none;
  font-family: sans-serif;
}

#info {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
}

#tweetIt a, #info a {
  color: #0ff;
}

#scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23,23,23,0.6);
  z-index: 5000;
}
#loading {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24pt;
  font-family: sans-serif;
  z-index: 5001;
  padding: 20px;
}

